@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins/_breakpoints";
@import "variables";
@import "../../node_modules/@fortawesome/fontawesome-free/css/all.css";

@font-face {
  font-family: "Gilroy Bold";
  src: url("./fonts/5538959/e1b0d70c-ce3f-425e-9624-00edc593f331.eot");
  src: url("./fonts/5538959/e667d70b-2326-4c62-8f38-200c31c3b08c.woff") format("woff");
}
@font-face {
  font-family: "Gilroy SemiBold";
  src: url("./fonts/5538991/6d7ee529-80b0-4acd-9d51-50e7b07146ae.eot");
  src: url("./fonts/5538991/960a0830-33df-46c5-87bc-24fb52edfa4e.woff") format("woff");
}
@font-face {
  font-family: "Gilroy Medium";
  src: url("./fonts/5538985/4a16895d-e7ea-467f-b07c-b52fb7f6eda0.eot");
  src: url("./fonts/5538985/fd4654af-3e2f-4601-bb81-d6b08f68d9f0.woff") format("woff");
}
@font-face {
  font-family: "Gilroy Regular";
  src: url("./fonts/5538977/45ca65f8-6b0b-4b04-8a75-d813ea28c010.eot");
  src: url("./fonts/5538977/bf190033-35ff-42cf-b90c-f5321a94a3df.woff") format("woff");
}

html, body {
  font-family: "Gilroy Regular";
  background-color: $page-background;
}
a {
  color: inherit;
}
a:hover {
  color: inherit;
}
.white-background {
  background-color: $white;
}
.purple-blue-color {
  color: $purpleish-blue!important;
}
.purple-blue-background {
  background-color: $purpleish-blue;
}
.pale-lilac-background {
  background-color: $pale-lilac;
}

.header-container {
  position: sticky;
  top: 0;
  z-index: 1000;
}
.page-header {
  background-color: #4C3AB7!important;
  background-image: linear-gradient(to top, #4C3AB7, $azul-two );
}
.navbar {
  padding: 22px 0 35px 0;
  .nav-item {
    margin-right: 8px;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.8px;
    button {
      border-width: 2px;
      font-size: 20px;
      font-weight: 600;
    }
  }
}
footer {
  background-image: linear-gradient(to top, $blueberry, #3441D3 );
  padding-bottom: 85px;
  .disclaimer {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.69;
    letter-spacing: 1.08px;
    color: $white;
  }
  .terms-and-conditions {
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: 1.08px;
    color: $light-periwinkle;
  }
  .copy-right {
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: 1.08px;
    color: $white;
  }
  .footer-link {
    color: $white;
  }
}
.header-wave {
  margin-top: -10px;
  width: 100%;
}
.footer-wave {
  width: 100%;
}
.collapsing {
  -webkit-transition: none;
  transition: none;
  display: none;
}
.mobile-header {
  .navbar-collapse {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 1500px;
    background-color: $indigo-blue;
    text-align: right;
    z-index: 100;
    padding-top: 22px;
    .collapse-buttons {
      z-index: 1;
    }
    .navbar-nav {
      padding-top: 15rem;
      right: 12px;
      text-align: right;
      z-index: 0;
    }
  }
  .logo {
    text-align: left;
  }
  i {
    color: $white!important;
    font-size: 31.5px;
    cursor: pointer;
  }
}
.navbar-brand {
  font-family: "Gilroy Bold";
}
.navbar-brand, .nav-link {
  color: #fff!important;
  img {
    width: 45px;
  }
}
.navbar-toggler {
  display: block;
  text-align: right;
  padding: 5px;
  border: 0;
  .top, .middle, .bottom {
    width: 40px;
    height: 5px;
    border-radius: 4px;
    background-color: $white;
    margin-left: auto;
    margin-right: 0;
    margin-bottom: 7px;
  }
  .bottom {
    width: 30px;
  }
}

.page-title {
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.8px;
  color: $dark-purple;
  font-family: "Gilroy SemiBold";
  margin-bottom: 0;
}
.card {
  color: $dark-purple;
  margin-top: 28px;
  -webkit-box-shadow: 0px 28px 5px -24px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0px 28px 5px -24px rgba(0, 0, 0, 0.04);
  box-shadow: 0px 28px 5px -24px rgba(0, 0, 0, 0.04);
  border: 0;
}
.card--empty {
  background-color: rgba(214, 221, 255, 0.3);
  border: dotted 2px $light-periwinkle;
  .card-body {
    padding: 87px 62px 87px 62px;
  }
}

.page-subtitle {
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.64px;
  color: $dark-purple;
  font-family: "Gilroy SemiBold";
  margin-top: 16px;
  margin-bottom: 60px;
}
.mobile-carousel {

}
.mobile-carousel__title {
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: 0.24px;
  color: $dark-purple;
  margin-bottom: 16px;
}
.mobile-carousel__buttons {
  color: $purpleish-blue;
  text-align: right;
}
.mobile-carousel__buttons__button {
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 36px;
  padding-top: .3rem;
  text-align: center;
  background-color: $purpleish-blue;
  color: white;
}
.mobile-carousel__buttons__button--disabled {
  background-color: transparent;
  color: $purpleish-blue;
}
.mobile-carousel__items {
  color: $dark-purple;
  white-space: nowrap;
  max-width: 100%;
  overflow-x: hidden;
  padding-bottom: 300px;
}
.mobile-carousel__items__item {
  display: inline-block;
  width: 313px;
  white-space: normal;
  -webkit-box-shadow: 0 3px 3px 0 rgba(99, 51, 152, 0.1);
  -moz-box-shadow: 0 3px 3px 0 rgba(99, 51, 152, 0.1);
  box-shadow: 0 3px 3px 0 rgba(99, 51, 152, 0.1);
  background-color: $white;
  padding: 15px;
  border-radius: 12px;
  margin-right: 16px;
}
.list {
  -webkit-box-shadow: 0px 28px 5px -24px rgba(0,0,0,0.04);
  -moz-box-shadow: 0px 28px 5px -24px rgba(0,0,0,0.04);
  box-shadow: 0px 28px 5px -24px rgba(0,0,0,0.04);
}
.list__item {
  height: 48px;
  padding-top: 1rem;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: 1.08px;
  color: $dark-purple;
  background-color: $white;
  border: 0;
}
.list__item--disabled {
  span {
    opacity: 0.4;
  }
}
.list__item:nth-child(odd) {
  background-color: $table-cell-bg;
}

.list__item--collapse {
  height: auto;
  min-height: 48px;
  color: $purpleish-blue;
}
.list__item--collapse__title {

}
.list__item--collapse__button {
  float: right;
}
.list__item--collapse__description {
  color: $dark-purple;
  padding-top: 12px;
  p {
    margin-bottom: 0;
    padding-bottom: 10px;
  }
}
.big-btn {
  width: 100%;
  height: 55px;
  padding-top: 1rem;
  padding-left: 20px;
  padding-right: 15px;
  border-radius: 4px;
  color: $white;
  i {
    float: right;
  }
}

@include media-breakpoint-up(sm) {
  .header-wave {
    margin-top: 0px;
    width: 100%;
  }
}

// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) { }

// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) {

  /* Header */
  .navbar {
    padding: 55px 0 35px 0;
    .nav-item {
      margin-right: 8px;
      font-size: 20px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: 0.8px;
      button {
        border-width: 2px;
        font-size: 20px;
        font-weight: 600;
      }
    }
  }  .page-title {
    font-size: 55px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.55px;
    color: $dark-purple;
    font-family: "Gilroy SemiBold";
    margin-bottom: 0;
  }
  .page-subtitle {
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.64px;
    color: $dark-purple;
    font-family: "Gilroy SemiBold";
    margin-top: 16px;
    margin-bottom: 50px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@include media-breakpoint-up(xl) {  }
