@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "variables";

@font-face {
  font-family: "Gilroy Bold";
  src: url("./fonts/5538959/e1b0d70c-ce3f-425e-9624-00edc593f331.eot");
  src: url("./fonts/5538959/e667d70b-2326-4c62-8f38-200c31c3b08c.woff") format("woff");
}
@font-face {
  font-family: "Gilroy SemiBold";
  src: url("./fonts/5538991/6d7ee529-80b0-4acd-9d51-50e7b07146ae.eot");
  src: url("./fonts/5538991/960a0830-33df-46c5-87bc-24fb52edfa4e.woff") format("woff");
}
@font-face {
  font-family: "Gilroy Medium";
  src: url("./fonts/5538985/4a16895d-e7ea-467f-b07c-b52fb7f6eda0.eot");
  src: url("./fonts/5538985/fd4654af-3e2f-4601-bb81-d6b08f68d9f0.woff") format("woff");
}
@font-face {
  font-family: "Gilroy Regular";
  src: url("./fonts/5538977/45ca65f8-6b0b-4b04-8a75-d813ea28c010.eot");
  src: url("./fonts/5538977/bf190033-35ff-42cf-b90c-f5321a94a3df.woff") format("woff");
}

html, body {
  font-family: "Gilroy Regular";
  background-color: $page-background;
}

/* Header */
.waves {
  $root: &;

  position: relative;
  height: 252px;
  overflow: hidden;
  background: linear-gradient(0deg, #60359C 0%, #3245D8 127.8%);

  &__white,
  &__purple {
    position: absolute;
    width: 100%;
    bottom: 0;

    svg {
      width: 110vw;
      margin-left: -50px;
      margin-right: -50px;
    }
  }

  &__white {
    animation: wavy_flex_white 3s 1500ms ease-in-out alternate infinite;
    width: 100%;
    margin-bottom: -15px;
    z-index: 2;

    .more & {
      animation: wavy_flex_white--more 2s ease-in-out alternate infinite;
    }
  }

  &__purple {
    animation: wavy_flex 5s ease-in-out alternate infinite;
    margin-bottom: -2vw;
    z-index: 1;

    .more & {
      animation: wavy_flex--more 3s 1500ms ease-in-out alternate infinite;
    }
  }
}


@keyframes wavy_flex {
  from {
    transform: slewX(50deg) slewY(5deg);
  }

  to {
    transform: skewX(60deg) skewY(-3deg);
  }
}

@keyframes wavy_flex--more {
  from {
    transform: slewX(0deg) slewY(-3deg);
  }

  to {
    transform: skewX(50deg) skewY(5deg);
  }
}


@keyframes wavy_flex_white {
  from {
    transform: slewX(0deg) slewY(0deg);
  }

  to {
    transform: skewX(-30deg) skewY(0deg) translateY(-10px);
  }
}

@keyframes wavy_flex_white--more {
  from {
    transform: slewX(-60deg) slewY(0deg) rotate(3deg);
  }

  to {
    transform: skewX(-30deg) skewY(0deg) rotate(0deg);
  }
}

.navbar-brand {
  font-family: "Gilroy Bold";
}
.navbar-brand, .nav-link {
  color: #fff!important;
  img {
    width: 45px;
  }
}
.pagination {
  padding-top: 50px;
  padding-bottom: 75px;
}
.sub-title {
  max-width: 33%;
}

.dark-purple {
  color: $dark-purple;
}
.magenta {
  color: $magenta;
}
.indigo-blue {
  color: $indigo-blue;
}
.white-background {
  background-color: $white;
}
.list {
  .line {
    padding-top: 63px;
    padding-bottom: 63px;
    border-bottom: 2px solid $page-background;
    .rectangle {
      width: 183px;
      height: 115px;
      margin: auto;
      background-color: $pale-lilac;
    }
  }
}

.cards {
  margin-bottom: 100px;
}

.card-subtitle {
  font-weight: 600;
}
.card-title {
  font-weight: 600;
}

div.pagination {
  .previous, .next {
    background-color: $white;
    color: $indigo-blue;
    border: 1px solid $purple-border;
    border-radius: 100px;
    width: 190px;
    height: 56px;
    font-weight: 600;
  }
  ul {
    list-style: none;
    li {
      display: inline-block;
      margin-right: 15px;
      a {
        background-color: $white;
        display: block;
        border: 1px solid $purple-border;
        border-radius: 100px;
        width: 56px;
        height: 56px;
        text-align: center;
        padding: 1rem .75rem;
        line-height: 1.25em;
        color: $indigo-blue!important;
      }
      a.selected {
        background: transparent;
        border: 0;
      }
    }
    li.dots {
      margin-left: -15px;
      margin-right: 0;
      a {
        background: transparent;
        border: 0;
      }
    }
  }
}
