@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins/_breakpoints";
@import "variables";

.news-headline {
  background-color: transparent;
  border: 0!important;
  margin-bottom: 45px;
  img {
    border-radius: 4px;
  }
  .card-body {
    padding: 0;
  }
}
.news-headline__image {
  margin-bottom: 16.2px;
}
.news-headline__line {
  background-color: $magenta;
  margin-top: 0;
  margin-bottom: 24px;
}
.news-headline__date {
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: 1.08px;
  color: $magenta;
  font-family: "Gilroy SemiBold";
  text-transform: uppercase;
  margin-bottom: 10.5px;
}
.news-headline__title {
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.8px;
  color: $magenta;
  font-family: "Gilroy SemiBold";
  margin-bottom: 16.9px;
}
.news-headline__description {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.64px;
  color: $dark-purple;
  margin-bottom: 0;
}
.news-article-preview {
  padding-top: 36px;
  padding-bottom: 36px;
  border-bottom: 1px solid $light-periwinkle;
}
.news-article-preview__date {
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: 1.08px;
  color: $indigo-blue;
  font-family: "Gilroy SemiBold";
  text-transform: uppercase;
  margin-bottom: 10.5px;
}
.news-article-preview__title {
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.8px;
  color: $indigo-blue;
  font-family: "Gilroy SemiBold";
  margin-bottom: 16.9px;
}
.news-article-preview__description {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.64px;
  color: $dark-purple;
  margin-bottom: 36px;
}
.news-article-preview__image {
  width: 183px;
  height: 115px;
  border-radius: 4px;
  img {
    border-radius: 4px;
  }
}
.pagination {
  padding-top: 75.6px;
  padding-bottom: 75.6px;
}
.pagination__previous-button, .pagination__next-button {
  background-color: $white;
  color: $indigo-blue;
  border: 1px solid $purple-border;
  border-radius: 100px;
  width: 190px;
  height: 56px;
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
  padding: 1rem;
  text-align: center;
}
.pagination__link-list {
  list-style: none;
  padding-left: 0;
  text-align: center;
}
.pagination__link-list__line {
  display: inline-block;
  margin-right: 5px;
}
.pagination__dots {
  margin-left: -5px;
  margin-right: 0;
  a {
    background: transparent;
    border: 0;
  }
}
.pagination__link {
  background-color: $white;
  display: block;
  border: 2px solid $purple-border;
  border-radius: 100px;
  width: 40px;
  height: 40px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  padding: .5rem;
  line-height: 1.25em;
  color: $indigo-blue!important;
}
.pagination__link--selected {
  background: transparent;
  border: 0;
}

@include media-breakpoint-up(sm) { }

// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) { }

// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) {

  .news-headline {
    background-color: transparent;
    border: 0!important;
    margin-bottom: 131px;
    img {
      border-radius: 4px;
    }
    .card-body {
      padding: 0;
    }
  }
  .news-headline__image {
    margin-bottom: 39px;
  }
  .news-headline__line {
    background-color: $magenta;
    margin-top: 0;
    margin-bottom: 24px;
  }
  .news-headline__date {
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2.25px;
    color: $magenta;
    font-family: "Gilroy SemiBold";
    text-transform: uppercase;
    margin-bottom: 23.1px;
  }
  .news-headline__title {
    height: 115px;
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: 0.24px;
    color: $magenta;
    font-family: "Gilroy SemiBold";
    margin-bottom: 0;
  }
  .news-headline__description {
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.72px;
    color: $dark-purple;
    margin-bottom: 0;
  }
  .news-article-preview {
    padding-top: 54px;
    padding-bottom: 54px;
    border-bottom: 1px solid $light-periwinkle;
  }
  .news-article-preview__date {
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: 1.08px;
    color: $indigo-blue;
    font-family: "Gilroy SemiBold";
    text-transform: uppercase;
    margin-bottom: 10.5px;
  }
  .news-article-preview__title {
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.8px;
    color: $indigo-blue;
    font-family: "Gilroy SemiBold";
    margin-bottom: 16.9px;
  }
  .news-article-preview__description {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.64px;
    color: $dark-purple;
    margin-bottom: 36px;
  }
  .news-article-preview__image {
    width: 183px;
    height: 115px;
    border-radius: 8px;
    img {
      border-radius: 8px;
    }
  }
  .pagination {
    padding-top: 75.6px;
    padding-bottom: 75.6px;
  }
  .pagination__previous-button, .pagination__next-button {
    background-color: $white;
    color: $indigo-blue;
    border: 2px solid $purple-border;
    border-radius: 100px;
    width: 190px;
    height: 56px;
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
    padding: 0.75rem;
    text-align: center;
  }
  .pagination__link-list {
    list-style: none;
    padding-left: 0;
    text-align: center;
  }
  .pagination__link-list__line {
    display: inline-block;
    margin-right: 5px;
  }
  .pagination__dots {
    margin-left: -5px;
    margin-right: 0;
    a {
      background: transparent;
      border: 0;
    }
  }
  .pagination__link {
    background-color: $white;
    display: block;
    border: 2px solid $purple-border;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding: .75rem;
    line-height: 1.25em;
    color: $indigo-blue!important;
  }
  .pagination__link--selected {
    background: transparent;
    border: 0;
  }
}

// Extra large devices (large desktops, 1200px and up)
@include media-breakpoint-up(xl) {  }

