@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins/_breakpoints";
@import "variables";
$table-column-width: 64px;

.rates-filters {
  background-color: $purpleish-blue;
  color: $white;
  height: 56px;
  padding-top: 1rem;
  .dropdown-menu__item {
    padding: .25rem 1.5rem;
  }
}

.rates-table {
  width: 100%;
  overflow-x: scroll;
  max-height: 500px;
  position: relative;
  background-color: $purple-border;
}
.rates-table__headers {
  float: left;
  white-space: nowrap;
  background-color: $indigo-blue;
  color: $white;
  position: sticky;
  top: 0;
  z-index: 10;
  padding-left: 15px;
}
.rates-table__headers__header {
  width: 79px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  display: inline-block;
  z-index: -1;
}
.rates-table__rows {
  background-color: $white;
  z-index: 1;
  padding: 0 15px 24px 15px;
}
.rates-table__rows__row {
  float: left;
  white-space: nowrap;
  background-color: $white;
  color: $dark-purple;
  -webkit-box-shadow: -2px 2px 2px -1px rgba(0,0,0,0.26);
  -moz-box-shadow: -2px 2px 2px -1px rgba(0,0,0,0.26);
  box-shadow: -2px 2px 2px -1px rgba(0,0,0,0.26);
  margin-bottom: 8px;
  border-radius: 4px;
}
.rates-table__rows__row--mobile {
  -webkit-box-shadow: -2px 2px 2px -1px rgba(0,0,0,0.26);
  -moz-box-shadow: -2px 2px 2px -1px rgba(0,0,0,0.26);
  box-shadow: -2px 2px 2px -1px rgba(0,0,0,0.26);
}
.rates-table__rows__row:first-child {
  margin-top: 20px;
}
.rates-table__rows__row__title {
  padding-left: 15px;
  padding-top: 9px;
  color: $purpleish-blue;
}
.rates-table__rows__row__cell {
  width: 79px;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 8px;
  margin-bottom: 8px;
  text-align: center;
  display: inline-block;
  border-right: 1px solid $purple-border;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.64px;
}
.info-card {
  padding-bottom: 48px;
  padding-top: 40px;
}
.info-card--light-background{
  background-color: $white;
}
.info-card__title {
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: 0.24px;
  color: $dark-purple;
  margin-bottom: 24px;
}
.info-card__item {
  padding: 8px  0 8px 0;
  border-bottom: 1px solid $purple-border;
}
.info-card__item__header {
  height: 48px;
}
.info-card__item__title {
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.56px;
  color: $indigo-blue;
  margin-bottom: 0;
  padding-top: .75rem;
}
.info-card__item__button {
  color: $indigo-blue;
  padding-top: .75rem;
  cursor: pointer;
  text-align: center;
}
.info-card__item__content {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.64px;
  color: $dark-purple;
}
.lenders__title {
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: 0.24px;
  color: $dark-purple;
  margin-bottom: 16px;
}
.lenders__mobile-buttons {
  color: $dark-purple;
}
.lenders {
  color: $dark-purple;
  white-space: nowrap;
  max-width: 100%;
  overflow-x: scroll;
  padding-bottom: 300px;
}
.lenders__lender {
  display: inline-block;
  width: 313px;
  height: 439px;
  -webkit-box-shadow: 0 3px 3px 0 rgba(99, 51, 152, 0.1);
  -moz-box-shadow: 0 3px 3px 0 rgba(99, 51, 152, 0.1);
  box-shadow: 0 3px 3px 0 rgba(99, 51, 152, 0.1);
  background-color: $white;
  padding: 15px;
  border-radius: 12px;
  margin-right: 16px;
}
.lenders__lender__image {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  font-size: 30px;
  background-color: $purple-background;
  color: $white;
  text-align: center;
  padding: .2rem;
  margin-right: 19px;
}
.lenders__lender__title {
  width: 229px;
  height: 44px;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.8px;
  margin-bottom: 22px;
  margin-left: -11px;
  padding: .5rem;
}
.lenders__lender__description {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.64px;
  white-space: normal;
}

@include media-breakpoint-up(sm) { }

// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) { }

// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) {
  .rates-filters {
    background-color: $purpleish-blue;
    color: $white;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 0;
    border-radius: 8px 8px 0 0;
  }
  .rates-filters__filter-list {

  }
  .rates-filters__filter {
    padding: 0 15px;
    cursor: pointer;
    float: right;
  }
  .rates-filters__filter__text {
    padding: .375rem .75rem;
    width: 69px;
    display: inline-block;
    margin-right: 24px;
  }
  .rates-filters__filter__dropdown {
    width: 100%;
    display: inline-block;
    background-color: $white;
    color: $indigo-blue;
    border-radius: 8px;
  }
  .rates-filters__filter__dropdown__button {
    padding: .375rem .75rem;
    i {
      float: right;
      position: relative;
      top: 5px;
    }
  }
  .rates-table {
    width: 100%;
    overflow-x: scroll;
    max-height: 800px;
    position: relative;
    margin-bottom: 128px;
  }
  .rates-table__headers {
    float: left;
    white-space: nowrap;
    background-color: $indigo-blue;
    color: $white;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 10;
    padding: 0;
  }
  .rates-table__headers__left-header {
    background-color: $indigo-blue;
    position: sticky;
    position: -webkit-sticky;
    left: 0;
    width: 278px;
    padding-top: 27px;
    padding-bottom: 28px;
    padding-left: 15px;
    text-align: left;
    display: inline-block;
    -webkit-box-shadow: 2px 0px 2px -1px rgba(0,0,0,0.26);
    -moz-box-shadow: 2px 0px 2px -1px rgba(0,0,0,0.26);
    box-shadow: 2px 0px 2px -1px rgba(0,0,0,0.26);
    z-index: 1;
  }
  .rates-table__headers__header {
    width: 149px;
    padding-top: 27px;
    padding-bottom: 28px;
    text-align: center;
    display: inline-block;
    z-index: -1;
  }
  .rates-table__rows {
    background-color: $white;
    z-index: 1;
    padding: 0;
  }
  .rates-table__rows__row {
    float: left;
    white-space: nowrap;
    background-color: $white;
    color: $dark-purple;
    position: sticky;
    top: 0;
    margin-bottom: 0;
  }
  .rates-table__rows__row:first-child {
    margin-top: 0;
  }
  .rates-table__rows__row:nth-child(odd) {
    background-color: $table-cell-bg;
    .rates-table__rows__row__left-header {
      background-color: $table-cell-bg;
    }
  }
  .rates-table__rows__row__left-header {
    background-color: $white;
    color: $purpleish-blue;
    position: sticky;
    position: -webkit-sticky;
    left: 0;
    width: 278px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 15px;
    text-align: left;
    display: inline-block;
    z-index: 10;
    -webkit-transform: translate3d(0,0,0);
    -webkit-box-shadow: 2px 0px 2px -1px rgba(0,0,0,0.26);
    -moz-box-shadow: 2px 0px 2px -1px rgba(0,0,0,0.26);
    box-shadow: 2px 0px 2px -1px rgba(0,0,0,0.26);
  }
  .rates-table__rows__row__cell {
    width: 149px;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    display: inline-block;
    border-right: 1px solid $purple-border;
  }
  .info-card {
    padding-bottom: 48px;
    padding-top: 40px;
  }
  .info-card--light-background{
    background-color: $white;
  }
  .info-card__title {
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: 0.24px;
    color: $dark-purple;
    margin-bottom: 24px;
  }
  .info-card__item {
    padding: 8px  0 8px 0;
    border-bottom: 1px solid $purple-border;
  }
  .info-card__item__header {
    height: 48px;
  }
  .info-card__item__title {
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.56px;
    color: $indigo-blue;
    margin-bottom: 0;
    padding-top: .75rem;
  }
  .info-card__item__button {
    color: $indigo-blue;
    padding-top: .75rem;
    cursor: pointer;
    text-align: center;
  }
  .info-card__item__content {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.64px;
    color: $dark-purple;
  }
  .lenders__title {
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: 0.24px;
    color: $dark-purple;
    margin-bottom: 16px;
  }
  .lenders__mobile-buttons {
    color: $dark-purple;
  }
  .lenders {
    color: $dark-purple;
    white-space: nowrap;
    max-width: 100%;
    overflow-x: scroll;
    padding-bottom: 300px;
  }
  .lenders__lender {
    height: 439px;
    width: 100%;
    -webkit-box-shadow: 0 3px 3px 0 rgba(99, 51, 152, 0.1);
    -moz-box-shadow: 0 3px 3px 0 rgba(99, 51, 152, 0.1);
    box-shadow: 0 3px 3px 0 rgba(99, 51, 152, 0.1);
    background-color: $white;
    border-radius: 12px;
    margin-right: 0;
  }
  .lenders__lender__image {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    font-size: 30px;
    background-color: $purple-background;
    color: $white;
    text-align: center;
    padding: .2rem;
    margin-right: 19px;
  }
  .lenders__lender__title {
    width: 229px;
    height: 44px;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.8px;
    margin-bottom: 22px;
    margin-left: -11px;
    padding: .5rem;
  }
  .lenders__lender__description {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.64px;
    white-space: normal;
  }
}

// Extra large devices (large desktops, 1200px and up)
@include media-breakpoint-up(xl) {  }

