/* Color palette */
$bluey-purple: #8534cc;
$white: #ffffff;
$pale-grey: #f6f6f8;
$light-periwinkle: #cad1fb;
$azul: #244cec;
$purpleish-blue: #7436f8;
$indigo-blue: #4c18ac;
$orangey-red: #fd5522;
$blueberry: #60359c;
$azul-two: #2644e8;
$magenta: #ba008d;
$orangey-red-tw: #fe5825;
$azul-three: #3245d8;
$pale-lilac: #d6ddff;
$pale-lilac-0: #d6ddff;

/* Custom colors */
$dark-purple: #2d1361;
$page-background: #f7f7ff;
$purple-border: #dbe0ff;
